@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
$header-menu-item-color: #f0f0f0;
$main-font: Poppins, sans-serif;
$primary-color: #fff;
$secondary-color: #bcbcbc;
$yellow-color: #e4d804;
$black-color: #1e1b29;
$gray-color: #6a6a6a;

body {
  font-family: $main-font;
  font-size: 14px;
}
